.container {
  padding: 0 2rem;
  scroll-behavior: smooth;
  position: relative;
}

.img {
  height: 100%;
  width: 100%; 
  transform: perspective(2000px) rotateY(-15deg);
  transition: transform 1s ease-out 0s;
}

.img:hover {
  transform: perspective(3000px) rotateY(5deg);
}